body {
  background: rgb(38, 14, 59);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.error-page {
  margin-top: 300px;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .add-btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: rgb(76, 20, 197);
    font-weight: 600;
    color: #ffffff;
  }
  .posts-container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .toast-notification {
    .Toastify__toast--default {
      background: purple;
      color: white;
    }
  }
  .loader {
    margin-top: 200px;
  }
}
.cancel-btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  background: rgb(255, 0, 242);
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 100px;
}

.sort-btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  background: rgb(40, 6, 85);
  font-weight: 600;
  color: white;
}

.sort-param {
  color: rgb(255, 0, 255);
  letter-spacing: 0.3px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;

  .form {
    width: 500px;
  }
  input,
  textarea {
    width: 500px;
    border: none;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid transparent;

    &:focus {
      border: 2px solid #ff00f2;
    }
  }
  textarea {
    // padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
  }
  input {
  }
}
.post-card {
  width: 500px;
  min-height: 200px;
  margin: 20px;
  padding: 10px;
  position: relative;
  .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
  }

  .btn {
    border: none;
    background: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: aqua;
    font-weight: 600;
  }
  .read-more-btn {
    color: rgb(212, 69, 212);
  }
  .date-details {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    color: rgb(140, 153, 153);
  }
  &:hover {
    background: rgb(96, 3, 112);
    .read-more-btn {
      color: #ffffff;
    }
    .delete-btn {
      display: block;
    }
    .btn {
      background: #ff00f2;
      color: white;
    }
  }
}

@media (max-width: 1170px) {
  .app-container {
    .posts-container {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
    }
  }
}
